html {
    &.locked {
        overflow: hidden;
    }

    @include media-breakpoint-down(xl) {
        overflow-x: hidden;
    }
}


body {
    font-family: 'inter', sans-serif;
    background: #fff;
    color: $main;
    font-weight: 400;
    @include media-breakpoint-down(xl) {
        overflow-x: hidden;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1 {
    font-size: rem(47px);
}

.hidden {
    display: none;
}

.links {
    ul {
        padding-left: 50px;
    }
    a {
        color: $main;
        &:hover {
            color: $accent;
        }
    }
}