.form {

    &__title {
        font-size: rem(23px);
        font-weight: 500;
        margin-bottom: rem(32px);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(20px);
        }
    }

    &__small-title {
        font-size: rem(16px);
        margin-bottom: rem(24px);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(12px);
        }
    }

    &__wrap {
        background: #fafafa;
        padding: rem(34px 24px);
        padding-right: rem(32px);
        padding-bottom: rem(18px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 90px;

        &--archive {
            grid-template-columns: 2fr 2fr 1.4fr;

            .form__col {
                width: 100%;

            }

        }

        &--tariffs {
            grid-template-columns: 1fr 1fr 1fr;
            padding-bottom: rem(8px);

            .form__checkboxes--col {
                display: flex;
            }

            .form__btn {
                &:first-of-type {
                    margin-left: auto;
                }
            }

            .form__group {
                margin-bottom: rem(28px);
            }
        }

        &--veb {
            grid-template-columns: 0.85fr 1fr 0.7fr;

            .form__buttons-wrap {
                margin-top: 0;
            }
        }

        &--about {
            display: block;
            box-shadow: 0px 100px 80px rgba(15, 15, 23, 0.02), 0px 41.7776px 33.4221px rgba(15, 15, 23, 0.0143771), 0px 22.3363px 17.869px rgba(15, 15, 23, 0.0119221), 0px 12.5216px 10.0172px rgba(15, 15, 23, 0.01), 0px 6.6501px 5.32008px rgba(15, 15, 23, 0.00807786), 0px 2.76726px 2.21381px rgba(15, 15, 23, 0.00562291);
        }

        @include media-breakpoint-only(lg) {
            grid-column-gap: 20px;
        }

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
        }

        @include media-breakpoint-down(lg) {
            padding: rem(20px 20px);
            padding-right: rem(20px);
            padding-bottom: rem(20px);
        }

        &--support {
            border-radius: 16px;
            padding: 0;
            position: relative;
            display: block;
            box-shadow: 0px 100px 80px rgba(15, 15, 23, 0.02), 0px 41.7776px 33.4221px rgba(15, 15, 23, 0.0143771), 0px 22.3363px 17.869px rgba(15, 15, 23, 0.0119221), 0px 12.5216px 10.0172px rgba(15, 15, 23, 0.01), 0px 6.6501px 5.32008px rgba(15, 15, 23, 0.00807786), 0px 2.76726px 2.21381px rgba(15, 15, 23, 0.00562291);

            .form__row {
                grid-template-columns: repeat(2, 1fr);

                @include media-breakpoint-down(md) {
                    display: block;
                }
            }

            .form__policy {
                width: 100%;
                max-width: 264px;
            }

            .form__btn {
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }

            .form__title {
                font-size: rem(33px);
            }
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;

        @include media-breakpoint-down(lg) {
            grid-template-columns: 1fr;
        }

        &--checkout {
            grid-template-columns: 50% 25% 25%;
        }
    }

    &__row-big {
        display: grid;
        grid-template-columns: 60% 40%;

        @include media-breakpoint-down(lg) {
            display: block;
        }
    }

    &__slider-wrap {
        position: relative;
        margin-bottom: rem(28px);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__slider {
        height: 8px;
        border: 1px solid $lines;
        box-shadow: none !important;
        background: $accent;


        .noUi-background {
            background: $lines;
        }

        .noUi-handle {
            box-shadow: 0px 100px 80px rgba(15, 15, 23, 0.02), 0px 41.7776px 33.4221px rgba(15, 15, 23, 0.0143771), 0px 22.3363px 17.869px rgba(15, 15, 23, 0.0119221), 0px 12.5216px 10.0172px rgba(15, 15, 23, 0.01), 0px 6.6501px 5.32008px rgba(15, 15, 23, 0.00807786), 0px 2.76726px 2.21381px rgba(15, 15, 23, 0.00562291);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            border: none;
            top: -10px;
            left: -12px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                width: 16px;
                height: 16px;
                background: $lines;
                border-radius: 50%;
            }

            &::after {
                content: '';
                display: none;
            }
        }
    }

    &__slinput-wrap {
        display: none;
        position: absolute;
        top: -77px;
        right: -3px;
        opacity: 0;
        transition: 250ms;

        &::before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 6px 0 6px;
            border-color: #fff transparent transparent transparent;
        }

        &--shown {
            display: block;
            transition: 250ms;
        }
    }

    &__slider-input {
        border: none;
        max-width: 58px;
        border-radius: 4px;
        background: none;
        background: #fff;
        font-size: rem(14px);
        color: $gray;
        line-height: 1;
        padding: rem(10px 8px);

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::placeholder {
            font-size: rem(14px);
            color: $gray;
        }

    }

    &__slider-number {
        font-size: rem(14px);
        color: $main;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 1px;
        transition: 250ms;

        &:hover {
            color: $accent;
            transition: 250ms;
        }
    }

    &__checkboxes {
        display: flex;
        flex-wrap: wrap;

        .form__group {
            margin-bottom: rem(16px);
        }

        &--col {
            display: block;

            @include media-breakpoint-down(lg) {
                margin-bottom: rem(25px);
            }
        }

    }

    &__group {
        margin-bottom: rem(20px);
        display: flex;
        flex-direction: column;
        position: relative;

        &--checkbox {
            position: relative;
            display: block;
            margin-right: rem(23px);
            margin-bottom: 0;

            .form__control {
                position: absolute;
                appearance: none;
                z-index: -999;
                opacity: 0;
                padding: 0;

                &:checked {
                    ~.form__label {
                        &::before {
                            background-color: $accent;
                            transition: 250ms;
                            border-color: $accent;
                        }

                        &::after {
                            opacity: 1;
                            transition: 250ms;
                        }
                    }
                }
            }

            .form__label {
                display: flex;
                align-items: center;
                padding-left: rem(24px);
                position: relative;
                margin-bottom: 0;
                font-size: rem(14px);
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto 0;
                    width: 16px;
                    height: 16px;
                    background: #ffffff;
                    border: 1px solid #F2F2F2;
                    transition: 250ms;
                    border-radius: 2px;

                }

                &::after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.2576 0.46967C10.5505 0.762563 10.5505 1.23744 10.2576 1.53033L4.2576 7.53033C3.96471 7.82322 3.48984 7.82322 3.19694 7.53033L0.46967 4.80306C0.176777 4.51016 0.176777 4.03529 0.46967 3.7424C0.762563 3.4495 1.23744 3.4495 1.53033 3.7424L3.72727 5.93934L9.19694 0.46967C9.48984 0.176777 9.96471 0.176777 10.2576 0.46967Z' fill='black'/%3E%3C/svg%3E%0A");
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 11px;
                    height: 11px;
                    left: 3px;
                    top: 3px;
                    opacity: 0;
                    transition: 250ms;
                }

                &--bonus {
                    padding-left: rem(33px);

                    span {
                        font-weight: 700;
                        display: contents;
                    }

                    &::after {
                        top: 3px;
                    }

                }
            }
        }

        &--search {
            margin-bottom: 0;

            &::before {
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.16601 3.33335C5.94435 3.33335 3.33268 5.94503 3.33268 9.16669C3.33268 12.3883 5.94435 15 9.16601 15C12.3877 15 14.9993 12.3883 14.9993 9.16669C14.9993 5.94503 12.3877 3.33335 9.16601 3.33335ZM1.66602 9.16669C1.66602 5.02455 5.02388 1.66669 9.16601 1.66669C13.3082 1.66669 16.666 5.02455 16.666 9.16669C16.666 13.3088 13.3082 16.6667 9.16601 16.6667C5.02388 16.6667 1.66602 13.3088 1.66602 9.16669Z' fill='%238C97A2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2851 13.2858C13.6105 12.9603 14.1382 12.9603 14.4636 13.2858L18.0886 16.9108C18.414 17.2362 18.414 17.7638 18.0886 18.0893C17.7632 18.4147 17.2355 18.4147 16.9101 18.0893L13.2851 14.4643C12.9597 14.1388 12.9597 13.6112 13.2851 13.2858Z' fill='%238C97A2'/%3E%3C/svg%3E%0A");
                position: absolute;
                top: 0;
                bottom: 0;
                left: 15px;
                margin: auto;
                width: 20px;
                height: 20px;
            }

            .form__label {
                margin-bottom: 0;
            }

            .form__control {
                background: #F2F2F2;
                padding-right: rem(95px);
                padding-left: rem(46px);
                height: 52px;

                &::placeholder {
                    color: $main;
                }
            }

            .form__btn {
                position: absolute;
                right: 4px;
                top: 0;
                margin: auto;
                bottom: 0;
                background: $accent;
                color: $main;
                height: 44px;
                padding-left: rem(24px);
                padding-right: rem(24px);
            }
        }

        &--select-expanded {
            &::after {
                content: '';
                transform: rotate(180deg);
                transition: 250ms;
            }
        }

        &--date {
            .form__control {
                color: $gray !important;
                padding: rem(11px);

                &:focus {
                    color: $main !important;
                }
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                color: rgba(0, 0, 0, 0);
                opacity: 1;
                display: block;
                background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M17 12H12V17H17V12ZM16 1V3H8V1H6V3H5C3.89 3 3.01 3.9 3.01 5L3 19C3 20.1 3.89 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3H18V1H16ZM19 19H5V8H19V19Z' fill='%238C97A2'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat;
                width: 20px;
                height: 20px;
                border-width: thin;
                cursor: pointer;
            }

        }


    }

    &__label {
        color: $gray;
        letter-spacing: 0.004em;
        font-size: rem(12px);
        line-height: 100%;
        margin-bottom: rem(6px);

        span {
            color: rgb(255, 0, 0);
        }
    }

    &__from-to {
        display: flex;
        align-items: center;

        .form__label {
            margin-bottom: 0;
            font-size: 0;
        }

        .form__group {
            max-width: 128px;
            position: relative;

            &:first-of-type {
                margin-right: rem(30px);

                &::after {
                    content: '-';
                    font-size: 12px;
                    line-height: 100%;
                    color: $gray;
                    position: absolute;
                    right: -14.5%;
                    opacity: 0.4;
                    top: 36%;
                    bottom: 0;
                    margin: auto;
                    display: block;
                }
            }
        }
    }

    &__time-wrap {
        display: flex;
        align-items: center;
    }

    &__out-label {
        color: $gray;
        letter-spacing: 0.004em;
        font-size: rem(12px);
        line-height: 100%;
        margin-bottom: rem(6px);

        &--mb {
            margin-bottom: rem(16px);
        }
    }

    &__control {
        background: #fff;
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        padding: rem(15px);
        font-size: rem(14px);
        line-height: 100%;
        transition: 250ms;

        &::placeholder {
            font-size: rem(14px);
            line-height: 100%;
            letter-spacing: 0.0025em;
            color: $gray;
            transition: 250ms;
        }

        &:focus {
            border: 1px solid $accent;
            transition: 250ms;

            &::placeholder {
                font-size: rem(14px);
                line-height: 100%;
                letter-spacing: 0.0025em;
                color: $main;
                opacity: 1;
                transition: 250ms;
            }
        }

        &--textarea {
            resize: none;
        }


    }


    &__select-wrap {
        position: relative;

        &--mt {
            margin-top: rem(18px);
        }

    }

    &__col {
        width: 100%;
        max-width: 374px;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(lg) {
            max-width: 100%;
            margin-bottom: rem(20px);

            &:last-of-type {
                margin-bottom: rem(20px);
            }
        }
    }

    &__buttons-wrap {
        display: flex;
        margin-top: auto
    }

    &__btn {
        @extend %btn-main;
        margin-right: rem(10px);

        &:last-of-type {
            margin-right: 0;
        }

        @include media-breakpoint-only(lg) {
            font-size: rem(12px) !important;
        }

        &--checkout {
            @include media-breakpoint-down(md) {
            width: 100%;
            }
        }
    }

    &__btn-clear {
        background: none;
        border: none;
        position: absolute;
        right: 17px;
    bottom: 15px;

        &:hover {
            &::-ms-clear {
                display: none;
            }
        }
    }

    &__modal-footer {
        display: block;

        .form__btn {
            width: 100%;
            margin-bottom: rem(16px);
        }

        .form__policy {
            padding-left: 0;
            font-size: rem(12px);
        }
    }

    &__about-footer {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    &__link {
        color: $accent;
        text-decoration: none;

        &:hover {
            color: $accent;
            text-decoration: underline;
        }
    }

    &__policy {
        margin-left: rem(32px);
        font-size: rem(14px);
        color: $gray;

        @include media-breakpoint-down(lg) {
            font-size: rem(12px);
        }

        @include media-breakpoint-down(md) {
            margin: 0;
            margin-top: rem(10px);
        }
    }

    &__left {
        padding: rem(32px);
        padding-right: rem(48px);

        @include media-breakpoint-down(lg) {
            padding-left: rem(16px);
            padding-right: rem(16px);
        }
    }

    &__right {
        background: $accent;
        background-repeat: no-repeat;
        background-image: url('../img/bg/bg-support.png');
        background-size: cover;
        border-radius: rem(0 20px 20px 0);

        @include media-breakpoint-down(lg) {
            border-radius: rem(0 0 20px 20px);
            display: block;
            height: 380px;
        }

        @include media-breakpoint-down(md) {
            height: 340px;
        }
    }

    &__img-wrap {
        width: 439px;
        position: absolute;
        right: -40px;
        bottom: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include media-breakpoint-down(md) {
                object-fit: contain;
            }
        }

        @include media-breakpoint-down(xl) {
            height: 407px;
        }

        @include media-breakpoint-down(lg) {
            right: -40px;
            height: 387px;

            width: 50%;
            left: 0;
            margin: auto;
        }

        @include media-breakpoint-only(md) {
            height: 347px;
        }

        @include media-breakpoint-down(md) {
            height: 327px;
            width: 100%;
        }
    }

    &__buble-btn {
        width: 101px;
        height: 101px;
        top: 30px;
        left: -40px;

        @include media-breakpoint-down(xl) {
            width: 81px;
            height: 81px;
        }

        @include media-breakpoint-only(md) {
            width: 101px;
            height: 101px;
            left: -40px;
        }

        @include media-breakpoint-down(md) {
            width: 81px;
            height: 81px;
            left: 5%;
        }

        img {
            width: 60%;
            height: 44%;
        }
    }

    &__checkout-content {
        .form__btn {
            margin-bottom: rem(24px);
        }

        .form__policy {
            margin-left: 0;
            margin-bottom: rem(64px);

            @include media-breakpoint-down(md) {
                margin-bottom: rem(32px);
            }
        }
    }

    &__checkout-personal-info {
        margin-bottom: rem(32px);
    }

    &__checkout-delivery-type {
        margin-bottom: rem(32px);
    }

    &__checkout-time-date {
        margin-bottom: rem(32px);
    }

    &__radio-btn {
        display: flex;
        align-items: center;
        margin-right: rem(10px);
        position: relative;
        color: $gray;

        input[type=radio] {
            display: none;
        }

        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: rem(16px);
            border: 1px solid $lines;
            border-radius: 6px;
            user-select: none;
            font-size: rem(14px);
            background: #fff;
            transition: 250ms;
            color: $gray;

            img {
                height: 12px;
                display: block;
                margin-right: rem(10px);
            }

            svg {
                margin-left: rem(10px);
            }
        }

        input[type=radio]:checked+label {
            transition: 250ms;
            border: 1px solid $accent;
            cursor: $main;
        }

        label:hover {
            border: 1px solid $accent;
            transition: 250ms;
            color: $main;
        }

        input[type=radio]:disabled+label:before {
            filter: grayscale(100%);
        }

        &--unactive {
            .form__label {
                background: #fafafa;
            }

            label:hover {
                border: 1px solid transparent;
                color: $gray;
            }
        }

        @include media-breakpoint-down(md) {
            white-space: nowrap;
        }

    }

    &--checked {
        background: orange;
    }

    &__radio-wrap {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(xl) {
            flex-wrap: wrap;
        }

        @include media-breakpoint-down(md) {
            flex-wrap: nowrap;
            overflow-x: scroll;
            white-space: normal;
            padding-bottom: rem(10px);
        }
    }

    &__checkout-paying-method {
        margin-bottom: rem(32px);
    }

    &__form-tabs {
        margin-bottom: rem(80px);
        @include media-breakpoint-down(md) {
        margin-bottom: rem(40px);
        }
    }

    &__checkout-textarea-wrap {
        margin-bottom: rem(32px);
    }
}


.form-tabs {
    &__tab-item {
        margin-bottom: rem(16px);
    }

    &__tab {
        display: none;
        &--active {
            display: block;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: rem(16px);
        @include media-breakpoint-down(lg) {
        flex-direction: column;
        }
    }

    &__form {
        width: 70%;
        @include media-breakpoint-down(lg) {
            width: 100%;
            }
    }

    &__switch {
        display: flex;
        align-items: center;
        margin-left: auto;
        @include media-breakpoint-down(lg) {
        margin-left: auto;
        margin-right: auto;
        }
    }

    &__switch-btn {
        @extend %btn-main;
        width: 99px;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &:first-of-type {
            border-radius: 8px 0px 0px 8px;

            &:hover {
                border-radius: 8px 0px 0px 8px;
                &::before {
                    content: '';
                    border-radius: 8px 0px 0px 8px;
                }
            }
        }

        &:last-of-type {
            border-radius: 0px 8px 8px 0px;

            &:hover {
                border-radius: 0px 8px 8px 0px;
                &::before {
                    content: '';
                    border-radius: 0px 8px 8px 0px;
                }
            }

            
        }

        &--active {
            background: linear-gradient(180deg, #F7CD2A 0%, #F1BD10 100%);
            color: $main;
        }
    }

    &__small {
        font-size: 12px;
        color: $gray;
        margin-bottom: rem(16px);
        display: block;
    }
}

.tab-item {
    &__wrap {
        display: flex;
        align-items: center;
        position: relative;
        color: $gray;

        input[type=radio] {
            display: none;
        }

        label {
            display: block;
            width: 100%;
            cursor: pointer;
            padding: rem(24px);
            border-radius: 8px;
            user-select: none;
            font-size: rem(14px);
            background: #fff;
            transition: 250ms;
            color: $main;
            border: 1px solid #F2F2F2;
            position: relative;

        }

        input[type=radio]:checked+label {
            transition: 250ms;
            box-shadow: 0px 100px 80px rgba(15, 15, 23, 0.02), 0px 41.7776px 33.4221px rgba(15, 15, 23, 0.0143771), 0px 22.3363px 17.869px rgba(15, 15, 23, 0.0119221), 0px 12.5216px 10.0172px rgba(15, 15, 23, 0.01), 0px 6.6501px 5.32008px rgba(15, 15, 23, 0.00807786), 0px 2.76726px 2.21381px rgba(15, 15, 23, 0.00562291);
            cursor: $main;
        }

        input[type=radio]:checked~label {
            .tab-item__dot {
                background: $accent;
                transition: 250ms;
            }
        }

        label:hover {
            box-shadow: 0px 100px 80px rgba(15, 15, 23, 0.02), 0px 41.7776px 33.4221px rgba(15, 15, 23, 0.0143771), 0px 22.3363px 17.869px rgba(15, 15, 23, 0.0119221), 0px 12.5216px 10.0172px rgba(15, 15, 23, 0.01), 0px 6.6501px 5.32008px rgba(15, 15, 23, 0.00807786), 0px 2.76726px 2.21381px rgba(15, 15, 23, 0.00562291);
            transition: 250ms;
            color: $main;
        }

        input[type=radio]:disabled+label:before {
            filter: grayscale(100%);
        }
    }

    &__title {
        display: block;
        font-size: rem(16px);
        margin-bottom: rem(16px);
        font-weight: 600;
    }

    &__subtitle {
        display: flex;
        font-size: rem(14px);
        font-weight: 600;
        margin-bottom: rem(30px);
    }

    &__method {
        color: $gray;
    }

    &__method-wrap {
        width: 100%;
        max-width: 24px;
        height: 15px;
        display: block;
        margin-right: rem(8px);
        color: $gray;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-top: -3px;
        }
    }

    &__time {
        font-size: rem(14px);
    }

    &__dot {
        width: 12px;
        height: 12px;
        background: #F2F2F2;
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        transition: 250ms;
    }

    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 24px;
        right: 24px;
        color: $gray;
        font-size: rem(14px);
        font-weight: 600;
    }

    &__icon-wrap {
        width: 24px;
        height: 24px;
        display: block;
        margin-right: rem(8px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.form-active {
    display: block;
}