<%= require('@parts/header.ejs')({title: 'links' }) %>

<main class="links">
    <ul style="color: black; font-size: 28px; margin-top: 300px; margin-bottom: 300px;">
        <li>
            <a href="http://morozov.crazytest.studio/gsm/index.html">Главная</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/archive-numbers.html">Красивые номера</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/unlimited-tariffs.html">Безлимитные тарифы</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/veb-tariffs.html">Интернет тарифы</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/partnership-page.html">Сотрудничество</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/promo-catalog.html">Акции (каталог)</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/promo-single.html">Акция</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/support-page.html">Поддержка</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/how-it-works-page.html">Как это работает</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/contacts-page.html">Контакты</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/checkout-page-courier.html">Корзина</a>
        </li>
         <li>
            <a href="http://morozov.crazytest.studio/gsm/checkout-page-pickup.html">Корзина - самовывоз</a>
        </li>
          <li>
            <a href="http://morozov.crazytest.studio/gsm/errors-page.html">404</a>
        </li>
        <li>
            <a href="http://morozov.crazytest.studio/gsm/policy-page.html">Политика конфиденциальности</a>
        </li>
         <li>
            <a href="tariff-page.html">Страница Тарифа</a>
        </li>
    </ul> 
</main>

<%= require('@parts/footer.ejs')() %>