<%= require('@parts/header.ejs')({title: 'support-page' }) %>

<main class="support-page">

    <div class="support-page__dec-wrap corner-dots-dec">
        <img src="<%=require('@img/bg/dot-bg-full.svg')%>" alt="">
    </div>


    <div class="container">

        <%= require('@parts/_breadcrumbs.ejs')({$class: 'support-page', page: 'Помощь', levels: 2}) %>

    </div>

    <div class="container">
        <h1 class="support-page__heading">Центр поддержки</h1>
        <div class="support-page__header">
            <form action="" class="support-page__form form">
                <div class="form__group form__group--search">
                    <label class="form__label" for="site-search"></label>
                    <input class="form__control" type="search" id="site-search" name="" placeholder="Искать вопрос">
                    <button class="form__btn">Поиск</button>
                </div>
            </form>
            <div class="support-page__contacts-info contacts-info">
                <a href="" class="contacts-info__item-wrap contacts-info__item-wrap--big">
                    <div class="contacts-info__icon-wrap">
                        <img src='<%=require('@img/icons/tel-black.svg')%>' alt=''>
                    </div>
                    <div class="contacts-info__text-wrap">
                        <div class="contacts-info__label">Служба поддержки клиентов:</div>
                        <span class="contacts-info__info">8 (800) 555-5555</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="support-page__content">
            <div class="support-page__raw">
                <div class="support-page__col">
                    <ul class="support-page__list">
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Полезная информация: заказ, оплата, доставка, возврат.
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Вид деятельности?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Где я могу приобрести тарифы от GSM-Корпорации?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Что мне делать после приобретения сим-карты?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Где я могу приобрести тарифы от GSM-Корпорации?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Что мне делать после приобретения сим-карты?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Что мне делать после приобретения сим-карты?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Где я могу приобрести тарифы от GSM-Корпорации?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Что мне делать после приобретения сим-карты?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Где я могу приобрести тарифы от GSM-Корпорации?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                        <li class="support-page__item">
                            <div class="support-page__item-wrap">
                                <div class="support-page__expand-btn">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="support-page__question">Что мне делать после приобретения сим-карты?
                                </div>
                                <p class="support-page__answer">Tellus id interdum velit laoreet id donec ultrices
                                    tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque
                                    sagittis purus sit amet volutpat consequat mauris. Aliquam eleifend mi in nulla
                                    posuere
                                    sollicitudin aliquam ultrices sagittis. Consequat id porta nibh venenatis cras. Quis
                                    enim lobortis scelerisque fermentum dui faucibus.</p>
                            </div>
                        </li>
                    </ul>
                    <button class="support-page__btn support-page__btn--padding">Больше вопросов...</button>
                </div>
                <div class="support-page__col">
                    <h2 class="support-page__updates-title">Последние обновления</h2>
                    <ul class="support-page__updates-list">
                        <li class="support-page__updates-item">
                            Tellus id interdum velit laoreet id donec ultrices tincidunt. Id aliquet risus feugiat in
                            ante.
                            <span>17-07-2021</span>
                        </li>
                        <li class="support-page__updates-item">
                            Tellus id interdum velit laoreet id donec ultrices tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. Quisque sagittis purus sit amet volutpat consequat mauris.
                            <span>17-07-2021</span>
                        </li>
                        <li class="support-page__updates-item">
                            Tellus id interdum velit laoreet id donec ultrices tincidunt. Id aliquet risus feugiat in
                            ante.
                            <span>17-07-2021</span>
                        </li>
                        <li class="support-page__updates-item">
                            Tellus id interdum velit laoreet id donec ultrices tincidunt. Id aliquet risus feugiat in ante. Lacus sed viverra tellus in. 
                            <span>17-07-2021</span>
                        </li>
                        <li class="support-page__updates-item">
                            Tellus id interdum velit laoreet id donec ultrices tincidunt. Id aliquet risus feugiat in
                            ante.
                            <span>17-07-2021</span>
                        </li>

                    </ul>
                    <button class="support-page__btn">Что было раньше...</button>
                </div>
            </div>
            <form action="" class="contacts-info__form form">
                <div class="form__wrap form__wrap--support">
                    <div class="form__row-big">
                        <div class="form__left">

                            <h3 class="form__title">Задать свой вопрос</h3>

                            <div class="form__row">
                                <div class="form__col">
                                    <div class="form__group">
                                        <label for="sup-name" class="form__label">Представьтесь<span>*</span></label>
                                        <input type="text" id="sup-name" placeholder="Ваше имя"
                                            class="form__control">
                                    </div>
                                </div>
                                <div class="form__col">
                                    <div class="form__group">
                                        <label for="coop-email" class="form__label">Электронная почта<span>*</span></label>
                                        <input type="coop-email" id="email" placeholder="Ваш email"
                                            class="form__control">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form__group">
                                <label for="question" class="form__label">Опишите ваш вопрос <span>*</span></label>
                                <textarea class="form__control form__control--textarea" rows="7" id='question' name="text"></textarea>
                            </div>
                            <div class="form__about-footer">    
                                <button class="form__btn">Задать вопрос</button>
                                <div class="form__policy">Нажимая на кнопку вы соглашаетесь на <a href=""
                                        class="form__link">обработку
                                        персональных данных</a></div>
                            </div>

                        </div>

                        <div class="form__right">
                            <picture class="form__img-wrap">
                                <source srcset='<%=require('@img/img/man.png')%>.webp' type='image/webp'>
                                <img src='<%=require('@img/img/man.png')%>' alt=''>
                                <div class="form__buble-btn buble-btn">
                                    <img src="<%=require('@img/icons/black-white-logo.svg')%>" alt="">
                                </div>
                            </picture>
                        </div>

                    </div>


                </div>

            </form>
        </div>

    </div>

</main>
<%= require('@parts/footer.ejs')() %>