.header-dark {
    .preheader {
        &__tel-wrap {
            display: flex;
            flex-direction: column;
        }

        &__desc {
            color: $accent;
            margin-bottom: 0;

            @include media-breakpoint-down(lg) {
                display: none;
            }

        }

        &__tel {
            color: #fff;
            margin-left: auto;

            @include media-breakpoint-down(lg) {
                color: #fff
            }

            svg {
                display: block;
                width: 12px;
                height: 12px;
                margin-right: rem(12px);

                path {
                    fill: #fff;
                }

            }

            &:hover {
                color: #fff;

                @include media-breakpoint-down(lg) {
                    color: #fff
                }
            }
        }

        &__location {
            color: #fff;

            @include media-breakpoint-down(lg) {
                color: #fff
            }

            svg {

                path {
                    fill: #fff;
                }

                &:first-of-type {
                    display: block;
                    width: 12px;
                    height: 12px;
                    margin-right: rem(12px);
                }

                &:last-of-type {
                    display: block;
                    width: 10px;
                    height: 8px;
                    margin-left: rem(5px);
                }

            }
        }

    }

    .header {
        
        &__wrapper {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(15px);
            border-radius: 150px;
            position: relative;
            z-index: 1;

            @include media-breakpoint-down(lg) {
                background: none;
                backdrop-filter: none;
            }
        }

        &__btn {
            &--mail {
                border: 1px solid #464E55;
            }
        }
        .new-icon {
            color: $main;
        }
    }

    .header-menu {
        &__link {
            color: #fff;

            &:hover {
                color: #fff;
            }
        }
    }

    .sub-menu {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(15px);

        &__link {
            color: #fff;

            &:hover {
                color: #fff;
            }
        }
    }

    .menu-item-has-children {
        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L4 3.5L6 1.5' stroke='white' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A") !important;
        }

    }

}


.preheader {

    &__tel-wrap {
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(24px 0 16px);
        position: relative;
        z-index: 100;

        @include media-breakpoint-down(lg) {
            position: absolute;
            bottom: 0;
            padding-left: rem(12px);
            font-size: rem(24px);
            display: block;
        }

        &--mobile {
            @include media-breakpoint-down(lg) {
                display: none;
            }

        }
    }

    &__desc {
        color: $gray;
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 20px;

        @include media-breakpoint-down(lg) {
            color: #fff
        }

        @include media-breakpoint-down(md) {
            font-size: rem(16px)
        }
    }

    &__tel {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $main;
        margin-left: auto;

        @include media-breakpoint-down(lg) {
            color: #fff
        }

        svg {
            display: block;
            width: 12px;
            height: 12px;
            margin-right: rem(12px);

            path {
                fill: #8C97A2;
            }

        }

        &:hover {
            color: $main;

            @include media-breakpoint-down(lg) {
                color: #fff
            }
        }
    }

    &__location {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(lg) {
            color: #fff
        }

        svg {

            path {
                fill: #8C97A2;
            }

            &:first-of-type {
                display: block;
                width: 12px;
                height: 12px;
                margin-right: rem(12px);
            }

            &:last-of-type {
                display: block;
                width: 10px;
                height: 8px;
                margin-left: rem(5px);
            }

        }
    }

    @include media-breakpoint-down(lg) {
        .container {
            max-width: 100%;
        }
    }
}

.header {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 100px 80px rgba(15, 15, 23, 0.02), 0px 41.7776px 33.4221px rgba(15, 15, 23, 0.0143771), 0px 22.3363px 17.869px rgba(15, 15, 23, 0.0119221), 0px 12.5216px 10.0172px rgba(15, 15, 23, 0.01), 0px 6.6501px 5.32008px rgba(15, 15, 23, 0.00807786), 0px 2.76726px 2.21381px rgba(15, 15, 23, 0.00562291);
        border-radius: 150px;
        background: #fff;
        padding: rem(14px 24px);

        @include media-breakpoint-down(lg) {
            background: transparent;
            box-shadow: none;
        }

        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__btn {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--mail {
            border: 1px solid $lines;
            margin-right: rem(16px);
        }

        &--cart {
            background: linear-gradient(180deg, #F7CD2A 0%, #F1BD10 100%);
            position: relative;
        }
    }

    &__count {
        position: absolute;
        top: -3px;
        right: -3px;
        width: 17.5px;
        height: 17.5px;
        background: #fff;
        color: $main;
        font-size: 10px;
        font-weight: 600;
        border-radius: 50%;
        display: grid;
        place-content: center;
    }

    &__logo {
        width: 100%;
        max-width: 56px;
        height: 41px;
        display: block;
        margin-right: rem(32px);

        .header__icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__toggle-wrap {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #464646;
        position: relative;
        z-index: 1;
        display: none;
        margin-left: rem(8px);

        @include media-breakpoint-down(lg) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    &__header-menu {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

}

.header-menu {
    &__list {
        @include unlist;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        margin-right: rem(24px);
        font-size: rem(14px);
        color: $main;
        display: flex;
        align-items: center;
        position: relative;

        @include media-breakpoint-only(lg) {
            font-size: rem(10px);
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__link {
        color: $main;
        text-decoration: none;

        &:hover {
            color: $main;
        }
    }

    &__sub-menu {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        @include unlist;
        background: #fff;
        width: calc(100% + 10px);
        padding: rem(10px);
        z-index: 10;
        border-radius: 0 0 12px 12px;
    }

    .menu-item-has-children {


        &::after {
            content: '';
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L4 3.5L6 1.5' stroke='%23474D57' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            width: 8px;
            height: 6px;
            display: block;
            right: -11px;
            top: 3px;
            bottom: 0;
            margin: auto;
        }

    }
}

.sub-menu {

    &__item {
        margin-right: rem(24px);
        font-size: rem(12px);
        color: $main;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__link {
        color: $main;
        text-decoration: none;

        &:hover {
            color: $main;
        }
    }
}

.mobile-menu {
    /*  display: none; */
    position: absolute;
    left: 0;
    top: 0;
    background-color: #424242;
    width: 100%;
    height: 100%;
    z-index: 10;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    display: none;

    &__list {
        @include unlist;
        color: #fff;
        margin-top: rem(25px);
        margin-left: rem(25px);
        max-width: 360px;
    }

    &__link {
        text-decoration: none;
        color: #fff;
        font-size: rem(32px);
        line-height: 1;
        display: flex;
        align-items: center;

        &:hover {
            color: #fff;
        }

        @include media-breakpoint-down(md) {
            font-size: rem(20px)
        }
    }

    &__mobile-sub-menu {
        @include unlist;
        padding-left: rem(45px);
        margin-top: rem(20px);
        display: none;
    }

    &__item {
        text-decoration: none;
        color: #fff;
        font-size: rem(32px);
        line-height: 1;
        margin-bottom: rem(20px);
        width: fit-content;

        &:hover {
            color: #fff;
        }

        @include media-breakpoint-down(md) {
            font-size: rem(20px)
        }

    }

    &__close {
        width: 14px;
        height: 15px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.mobile-sub-menu {
    &__list {
        @include unlist;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:hover {
            color: #fff;
            text-decoration: none;
        }

        @include media-breakpoint-down(md) {
            font-size: rem(16px)
        }
    }

    &__sub-item {
        position: relative;
        font-size: rem(26px);
        margin-bottom: rem(15px);

        &::before {
            content: '';
            top: 42%;
            left: -10px;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}


.expanded {
    display: block;
    height: auto;
}

.new-icon {
    background: $accent;
    font-size: rem(10px);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    padding: 3px;
    border-radius: 3px;
    position: relative;
    margin-left: rem(4px);

    &::before {
        content: '';
        position: absolute;
        left: -4px;
        top: 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3.5px 4px 3.5px 0;
        border-color: transparent #F1BD10 transparent transparent;
    }

    &--mobile {
        margin-left: rem(10px);
        top: 2px;

        &::before {
            top: 4px;
        }
    }
}

.mobile-menu-has-children {
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L4 3.5L6 1.5' stroke='white' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
        right: -8%;
        top: 13px;
        width: 15px;
        height: 12px;
        background-repeat: no-repeat;
        background-position: center;
        transition: 250ms;
    }

    &--expanded {
        &::after {
            content: '';
            transition: 250ms;
            transform: rotate(180deg);
        }
    }
    
    @include media-breakpoint-down(md) {
        &::after {
            content: '';
            right: -11%;
            top: 7px;
        }
    }
}